body {
  background-color: black;
}
.container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start
}
.child {
  flex: none;
  padding: 5px;
}

